[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rasterio = "*"
pandas = "*"
matplotlib = "*"
geopyspark = "*"
pyspark = "*"
opencv-python = "*"
geopandas = "*"
patchify = "*"
shapely = "*"
pillow = "*"
torch = "*"

[dev-packages]

[requires]
python_version = "3.7.9"
